/* File for custom css */

/* Custom fonts */

@font-face {
  font-family: 'SackersGothicMedium', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-display: 'swap';
  src: url('https://cdn.shopify.com/s/files/1/0675/6882/8576/files/Sackers_Gothic_Medium_AT_Regular.otf?v=1747584762');
}

@font-face {
  font-family: 'SackersGothicLight', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-display: 'swap';
  src: url('https://cdn.shopify.com/s/files/1/0675/6882/8576/files/sackers-gothic-std-light.otf?v=1747583468');
}

@font-face {
  font-family: 'GillSansRegular', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-display: 'swap';
  src: url('https://cdn.shopify.com/s/files/1/0675/6882/8576/files/Gill_Sans.otf?v=1747583524');
}

@font-face {
  font-family: 'GillSansLight', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-display: 'swap';
  src: url('https://cdn.shopify.com/s/files/1/0675/6882/8576/files/Gill_Sans_Light.otf?v=1747583512');
}